/* global styles */
@import '../../App.scss';

.projectSectionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 12px;
}

.projectsHeader {
    font-size: 32px;
    text-transform: uppercase;
}

.projectContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 42%;
    padding: 8px;
}

.name {
    font-weight: normal;
    color: $text-color-white;
}

.description {
    font-size: 16px;
    color: $text-color-white;
    font-weight: normal;
    text-align: center;
}   

.image {
    border-radius: 10%;
    aspect-ratio: 4 / 5;
    max-width: 250px;
    max-height: 250px;
}

/* MEDIA QUERIES */

//Non-mobile devices
@media (min-width: 1025px) and (max-width: 2560px) {
    .projectDescriptionNotice {
        display: none;
    }
    .descriptionShort {
        display: none;
    }
}

//Weird upper middle zone
@media (min-width: 971px) and (max-width: 1024px) {
    .projectDescriptionNotice {
        display: none;
    }
    .descriptionShort {
        display: none;
    }
}

// Weird middle zone of browser re-sizing
@media  (min-width: 770px) and (max-width: 970px) {
    .projectsHeader {
        font-size: 20px;
    }
    .projectDescriptionNotice {
        font-weight: normal;
        font-size: 12px;
    }
    .descriptionShort {
        font-weight: normal;
        font-size: 14px;
        height: 80px;
    }
    .description {
        display: none;
    }
    .image {
        width: 25vw;
    }
}

//Mobile devices
@media (min-width: 320px) and (max-width: 768px) {
    .projectsHeader {
        text-align: center;
        font-size: 20px;
    }
    .projectDescriptionNotice {
        text-align: center;
        font-weight: normal;
        font-size: 12px;
    }
    .descriptionShort {
        font-weight: normal;
        font-size: 14px;
    }
    .description {
        display: none;
    }
    .image {
        width: 25vw;
    }
}

// Laptop
@media  (min-width: 769px) and (max-width: 1024px) {
    .image {
        height: 180px;
    }
}
// Tablet
@media (min-width: 426px) and (max-width: 768px) {
    .name {
        font-size: 12px;
    }
    .image {
        height: 100px;
    }
}

// Mobile large
@media (min-width: 376px) and (max-width: 425px) {
    .name {
        font-size: 12px;
    }
    .descriptionShort {
        font-size: 10px;
    }
    .image {
        height: 80px;
        width: 25vw;
    }
}

// Mobile med
@media (max-width: 375px) {
    .name {
        font-size: 10px;
    }
    .descriptionShort {
        font-size: 10px;
    }
    .image {
        height: 80px;
        width: 25vw;
    }
}