.skillsContainer {
    width: 100%,
}

.languages {
    width: 100%,
}

.misc {
    width: 100%,
}

.mobile {
    width: 100%,
}

.logo {
    height: 100px;
    width: 100px;
    padding: 16px,
}

.text {
    color: whitesmoke;
}