/* global styles */
@import '../../App.scss';


.resumeContainer {
    height: 50vh;
}

.resumeHeaderText {
    color: whitesmoke;
    text-align: left;
}

.downloadResumeButton {
    background-image: $light-blue-solid; //TODO: Update button default, on hover, maybe text clicked?
    cursor: pointer;
    color: whitesmoke;
}
