/* global styles */
@import '../../App.scss';

.resumeHeaderText {
    color: whitesmoke;
    text-align: left;
}

.downloadResumeButton {
    //TODO: update download resume button to look nicer
    background-color: #000000;
    @include globalHover;
    color: whitesmoke;
}
