/* global styles */
@import '../../App.scss';

.headerContainer {
    background-color: rgb(35, 34, 34);
    &.headerText {
    font-size: 60px;
    font-weight: 600;
    color:whitesmoke;
    text-align: center;
    }
}