/* global styles */
@import '../../App.scss';


.greetingContainer {
    display: flex;
    border-radius: 5%;
    width: 100vw;
}

.greetingText {
    font-size: 48px;
    white-space: pre-line;
    width: 50vw;
}

.image {
    border-radius: 10%;
}
