/* global styles */
@import '../../App.scss';


.greetingContainer {
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    width: 100vw;
}

.greetingText {
    font-size: 40px;
    white-space: pre-line;
    width: 50vw;
    padding-right: 8px;
}

.imageContainer {
    max-width: 50vw;
}

.greetingImage {
    border-radius: 10%;
    max-width: 50vw;
}


/* MEDIA QUERIES */

//Mobile devices
@media (min-width: 320px) and (max-width: 768px) {
    .greetingText {
        font-size: 32px;
        width: 100vw;
        text-align: center;
    }
    .imageContainer {
        display: none;
    }
}
