/* global styles */
@import '../../App.scss';

.container {
    width: 100vw;
};

.tab {
    width: 50vw;
    border-radius: 10%;
    padding: 8px;
    @include globalHover;
};

.text {
    text-decoration: none;
};