/* global styles */
@import '../../App.scss';

.header {
    font-size: 32px;
    font-weight: bold;
};

.aboutMeText {
    font-size: 18px;
    white-space: pre-line;
    color: $text-color-white;
};

