/* global styles */
@import '../../App.scss';

.header {
    font-size: 32px;
    font-weight: bold;
};

.aboutMeText {
    font-size: 18px;
    white-space: pre-line;
    color: $text-color-white;
};

/* MEDIA QUERIES */

//Mobile devices
@media (min-width: 320px) and (max-width: 768px) {
    .header {
        text-align: center;
        font-size: 20px;
    }
    .aboutMeText {
        text-align: center;
        font-size: 16px;
    }
}
